  .table-container3 {
    background-color: gray;
    margin-left: 450px;
    padding: 50px;
    display: inline-block; 
    justify-content: center; 
    align-items: center;
     /* Vertically center the contents */
  }
  
 a{
    color: red;
 }